<a href="https://colab.research.google.com/github/Akash-Nagarajan-M/data-analytics-lab/blob/main/imdb_top_1000.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv("./imdb_top_1000.csv")
# df

In [ ]:
# df.info()

In [ ]:
# df.describe()

In [ ]:
# df.isnull().sum()

In [ ]:
filtered= df['Director'].isin(['Christopher Nolan'])
# df[filtered]

In [ ]:
# df.columns

In [ ]:
# df['Gross']

In [ ]:
df['Gross'].fillna(value=0, inplace=True)
# df['Gross']

In [ ]:
df['Gross'] = df['Gross'].str.replace(',', '')

In [ ]:

df['Gross'] = pd.to_numeric(df['Gross'], errors='coerce')

In [ ]:
df['Gross'].fillna(df.groupby('Director')['Gross'].transform('mean'), inplace=True)

In [ ]:
df['Gross'].fillna(df.groupby('Genre')['Gross'].transform('mean'), inplace=True)

In [ ]:
df['Gross'].fillna(df['Gross'].mean(), inplace=True)

In [ ]:
gross = np.array(df['Gross'])
# gross

In [ ]:
# df['Runtime']

In [ ]:
# df.isnull().sum()

In [ ]:
# df.plot()

In [ ]:
# plt.scatter(x=df['IMDB_Rating'],y=df['No_of_Votes'])
# plt.xlabel("IMDB_Rating")
# plt.ylabel("No_of_Votes")

In [ ]:
df['Runtime'] = df['Runtime'].map(lambda x: x.rstrip(' min'))
# df.head()

In [ ]:
df['Runtime']=df['Runtime'].astype(int)
# df.info()

In [ ]:
# df['Genre'].unique()

In [ ]:
# df.columns

In [ ]:
genre = np.array(df["Genre"])
new_genre = []
length=0
for i in genre:
#     print(i)
    # new_genre.append(np.char.split(i,sep=", "))
    list1= i.split(',')
    length = max(length,len(list1))
    new_genre.append(list1)
# print(length)    
# new_genre

In [ ]:
# sns.boxplot(data=df)
# plt.plot()

In [ ]:
# sns.heatmap(df.isnull(),cbar=False,cmap='viridis')

In [ ]:
# df.describe()

In [ ]:
# print("meta score = variance",df["Meta_score"].var())
# print("imdb = variance",df["IMDB_Rating"].var())
# print("runtime = variance",df["Runtime"].var())

In [ ]:
from scipy.stats import skew
import pylab as p
y1 = df['Gross']
# print("skewness",skew(y1))

In [ ]:
#Values counts
# print("Certificate:\n",df['Certificate'].value_counts())

In [ ]:
# sns.kdeplot(x=df['No_of_Votes'])

In [ ]:
# sns.countplot(x='IMDB_Rating',data=df,)
# plt.show()

In [ ]:
# plt.figure(figsize=(20,6))
# sns.boxplot(x=df['Gross'])

In [ ]:
# plt.violinplot(df['Runtime'].values,showmedians=True)
# plt.show()

## Bivariate analysis

In [ ]:
# df2= df.sort_values(by='Runtime',ascending=True)
# plt.figure(figsize=(40,6))
# sns.scatterplot(data=df2, x="Runtime", y="Gross")
# plt.show()

In [ ]:
# plt.figure(figsize=(10,6))
# sns.lineplot(data=df,y="Gross", x="IMDB_Rating")
# plt.legend()

In [ ]:
# sns.relplot(x=df["Meta_score"],y=df["Runtime"],sort=False,kind="line",data = df)

In [ ]:
df['Meta_score']= df['Meta_score'].fillna(np.average(df['Meta_score']).astype(np.float64))

In [ ]:
df["Certificate"]=df['Certificate'].fillna("U/A")

In [ ]:
# plt.figure(figsize=(10,10))
# sns.boxplot(x=df["IMDB_Rating"],y=df["Meta_score"],data =df)

In [ ]:
# plt.figure(figsize=(20,10))
# sns.violinplot(x=df['IMDB_Rating'],y=df["No_of_Votes"],data=df)

In [ ]:
# plt.figure(figsize=(25,6))
# df2 = df.sort_values('Certificate')
# sns.scatterplot(x=df2.index,y=df2['Gross'],hue=df2['Certificate'])
# plt.legend()

In [ ]:
# import seaborn as sns
# sns.distplot(df['Gross'], hist=True, kde=True)
# df['Gross'].kurt()

**MULTIVARIATE ANALYSIS**

In [ ]:
# sns.heatmap(df.corr(),cbar=True, annot =True, cmap ='Blues')

In [ ]:
# df

In [ ]:
# sns.pairplot(df)

In [ ]:
# plt.figure(figsize=(10,6))
# sns.scatterplot(x='IMDB_Rating',y='Gross',data=df, hue='Certificate', palette='bright')

In [ ]:
# sns.relplot(data=df, x='Meta_score', y='No_of_Votes',col='Certificate')

In [ ]:
# plt.figure(figsize=(30,10))
# sns.lineplot(x=df["Meta_score"],y=df["Gross"],hue=df["Certificate"])

In [ ]:
X = df.iloc[:, 8].values
y = df.iloc[:, 15].values
y = np.array(y)
# print(X)
# print("_____________________")
# print(y)

## Logistics regression

## label encoding

In [ ]:
df['Certificate'].replace('R','A',inplace=True)
df['Certificate'].replace('PG-13','U',inplace=True)
df['Certificate'].replace('U/A','UA',inplace=True)
df['Certificate'].replace('TV-PG','U',inplace=True)
df['Certificate'].replace('PG','U',inplace=True)
df['Certificate'].replace('Passed','UA',inplace=True)
df['Certificate'].replace('G','U',inplace=True)
df['Certificate'].replace('Approved','UA',inplace=True)
df['Certificate'].replace('GP','UA',inplace=True)
df['Certificate'].replace('TV-14','U',inplace=True)
df['Certificate'].replace('16','U',inplace=True)
df['Certificate'].replace('TV-MA','A',inplace=True)
df['Certificate'].replace('Unrated','UA',inplace=True)
df['Certificate'].value_counts()

A     344
U     331
UA    325
Name: Certificate, dtype: int64

In [ ]:
#for testing b4 label encoding
df['Certificate']

0       A
1       A
2      UA
3       A
4       U
       ..
995     A
996     U
997    UA
998    UA
999    UA
Name: Certificate, Length: 1000, dtype: object

In [ ]:
from sklearn import preprocessing

In [ ]:
label_encoder = preprocessing.LabelEncoder()

In [ ]:
df['Certificate'] = label_encoder.fit_transform(df['Certificate'])

In [ ]:
df['Certificate']

0      0
1      0
2      2
3      0
4      1
      ..
995    0
996    1
997    2
998    2
999    2
Name: Certificate, Length: 1000, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
df2=df[['Gross','Runtime','No_of_Votes']]
df2['Gross']/=1000000
df2[['Gross','Runtime','No_of_Votes']]

<ipython-input-150-8850d8bd9e48>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Gross']/=1000000

          Gross  Runtime  No_of_Votes
0     28.341469      142      2343110
1    134.966411      175      1620367
2    534.858444      152      2303232
3     57.300000      202      1129952
4      4.360000       96       689845
..          ...      ...          ...
995   30.247191      115       166544
996  110.127096      201        34075
997   30.500000      118        43374
998   13.234378       97        26471
999   13.234378       86        51853

[1000 rows x 3 columns]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(df2, df['IMDB_Rating'], test_size=0.3, random_state=42)

In [ ]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    1000 non-null   int64
 4   Runtime        1000 non-null   int64
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          1000 non-null   float64
dtypes: float64(3), int64(3), object(10)
memory usage: 125.1+ KB

### Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [ ]:
arr = np.array(df['IMDB_Rating'])
arr2 = []
cnt1=0
for i in arr:
  if(i>8):
    arr2.append(1)
  else:
    arr2.append(0)
df["Hit_or_Miss"]= arr2

In [ ]:
df['Gross']/=10000000
df['No_of_Votes']/=100000
features = df[['No_of_Votes','IMDB_Rating','Gross','Runtime','Certificate']]
y = df["Hit_or_Miss"]

In [ ]:
x_train , x_test , y_train , y_test = train_test_split(features,y,random_state=42,test_size=0.3)

In [ ]:
x_train

     No_of_Votes  IMDB_Rating      Gross  Runtime  Certificate
541      0.70826          7.9   3.017751       91            1
440      0.28137          8.0   0.841690       96            2
482      6.00004          7.9  10.020626      113            2
422      0.39491          8.0   8.050000      181            1
778      3.58432          7.7   0.108272      101            0
..           ...          ...        ...      ...          ...
106      6.52719          8.3   8.516025      137            1
270      1.50924          8.1   0.049577      117            1
860      0.35999          7.7   3.412910      138            1
435      0.66621          8.0   1.951600      174            0
102      9.59181          8.3   7.560000      178            0

[700 rows x 5 columns]

In [ ]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
model = LogisticRegression()
model.fit(x_train,y_train)
x_test

     No_of_Votes  IMDB_Rating      Gross  Runtime  Certificate
521      0.89836          7.9   0.132497       94            1
737      7.36182          7.7  25.976657      136            2
740      3.80195          7.7  18.942289      101            1
660      0.78963          7.8   3.241659      101            1
411      2.17664          8.0   5.276789      191            1
..           ...          ...        ...      ...          ...
468      0.53818          7.9   0.025817      100            2
935      0.67360          7.6   0.054871       93            0
428      0.68926          8.0  10.494530      131            0
7       12.13505          8.9   9.689882      195            0
155     13.08302          8.2  20.685243      140            2

[300 rows x 5 columns]

In [ ]:
y_pred = model.predict(x_test)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1])

In [ ]:
accuracy = accuracy_score(y_test, y_pred)
print(model.score(x_test,y_test))

0.9533333333333334

## Multiple Linear Regression

In [ ]:
from sklearn.preprocessing import MaxAbsScaler
#df = pd.read_csv('imdb_top_1000.csv')
df2=df['Gross']/3500000
X_train, X_test, y_train, y_test = train_test_split(df[['Runtime','No_of_Votes','IMDB_Rating']], df2, test_size=0.25, random_state=99)
scaler = MaxAbsScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
from sklearn.linear_model import LinearRegression  
regressor= LinearRegression()  
regressor.fit(X_train, y_train)  
y_pred= regressor.predict(X_test)  
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print('Mean squared error: ', mse)
print('R-squared: ', r2)

Mean squared error:  5.35289944945023e-12
R-squared:  0.38234782266276746

## Supported vector regression code

In [ ]:
svr = SVR(kernel='linear')
svr.fit(X_train, y_train)

SVR(kernel='linear')

In [ ]:
y_pred = svr.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

In [ ]:
print('Mean squared error: ', mse)
print('R-squared: ', r2)

Mean squared error:  1.2009083772907537e-10
R-squared:  -12.856857970540391

## Naive Bayes classification

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [ ]:
bf = pd.read_csv('Breast_cancer_data.csv')

In [ ]:
bf

,mean_radius,mean_texture,mean_perimeter,mean_area,mean_smoothness,diagnosis
0,17.99,10.38,122.80,1001.0,0.11840,0
1,20.57,17.77,132.90,1326.0,0.08474,0
2,19.69,21.25,130.00,1203.0,0.10960,0
3,11.42,20.38,77.58,386.1,0.14250,0
4,20.29,14.34,135.10,1297.0,0.10030,0
...,...,...,...,...,...,...
564,21.56,22.39,142.00,1479.0,0.11100,0
565,20.13,28.25,131.20,1261.0,0.09780,0
566,16.60,28.08,108.30,858.1,0.08455,0
567,20.60,29.33,140.10,1265.0,0.11780,0
568,7.76,24.54,47.92,181.0,0.05263,1

In [ ]:
bf.describe()

,mean_radius,mean_texture,mean_perimeter,mean_area,mean_smoothness,diagnosis
count,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000
mean,14.127292,19.289649,91.969033,654.889104,0.096360,0.627417
std,3.524049,4.301036,24.298981,351.914129,0.014064,0.483918
min,6.981000,9.710000,43.790000,143.500000,0.052630,0.000000
25%,11.700000,16.170000,75.170000,420.300000,0.086370,0.000000
50%,13.370000,18.840000,86.240000,551.100000,0.095870,1.000000
75%,15.780000,21.800000,104.100000,782.700000,0.105300,1.000000
max,28.110000,39.280000,188.500000,2501.000000,0.163400,1.000000

In [ ]:
bf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   mean_radius      569 non-null    float64
 1   mean_texture     569 non-null    float64
 2   mean_perimeter   569 non-null    float64
 3   mean_area        569 non-null    float64
 4   mean_smoothness  569 non-null    float64
 5   diagnosis        569 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 26.8 KB

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(bf.drop(['diagnosis'], axis=1), bf['diagnosis'], test_size=0.3, random_state=42)

In [ ]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
nb = GaussianNB()
nb.fit(X_train, y_train)

GaussianNB()

In [ ]:
y_pred = nb.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred, pos_label=0)
recall = recall_score(y_test, y_pred, pos_label=0)
f1 = f1_score(y_test, y_pred, pos_label=0)

In [ ]:
print('Accuracy: ', accuracy)
print('Precision: ', precision)
print('Recall: ', recall)
print('F1-score: ', f1)

Accuracy:  0.9473684210526315
Precision:  1.0
Recall:  0.8571428571428571
F1-score:  0.923076923076923

## Support Vector Classification

In [ ]:
bf = pd.read_csv('Breast_cancer_data.csv')
X_train, X_test, y_train, y_test = train_test_split(bf.drop(['diagnosis'], axis=1), bf['diagnosis'], test_size=0.25, random_state=72)
from sklearn.svm import SVC
clf = SVC(kernel='linear')
# fitting x samples and y classes
clf.fit(X_train, y_train)
y_pred=clf.predict(X_test)
#clf.predict([[16.60,28.08,108.30,858.1,0.08455]])
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred, pos_label=0)
recall = recall_score(y_test, y_pred, pos_label=0)
f1 = f1_score(y_test, y_pred, pos_label=0)
print('Accuracy: ', accuracy)
print('Precision: ', precision)
print('Recall: ', recall)
print('F1-score: ', f1)
#clf.predict([[11.76,26.54,77.92,581.0,0.35263]])

Accuracy:  0.9230769230769231
Precision:  0.9074074074074074
Recall:  0.8909090909090909
F1-score:  0.8990825688073394